h3 {
    font-family: "Roboto Condensed";
    font-size: 18px;
    margin-bottom: 8px;
  }

.color{
    display: flex;
    flex-direction: row;
    margin-bottom: 8%;

    div{
        height: 32px;
        width: 32px;
        margin-right: 10px;
        cursor: pointer;
    }

    .gray{
        background-color: gray;
    }

    .black{
        background-color: black;
    }

    .green{
        background-color: green;
    }

}