.btn{
    margin-bottom: 40px;
    background-color: rgba(94, 206, 123, 1);
    color: white;
    font-family: Raleway;
    font-weight: 600;
    width: 100%;
    padding: 16px 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}