.container {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 20%;
  h1 {
    margin: 0;
    margin-top: 80px;
    margin-bottom: 55px;

    font-weight: 700;
    font-size: 32px;

  }

  .productsContaner{


  }

  .cartSummary{
    width: 33%;
    font-family: Raleway;
    font-size: 24px;
  }


}
